<!DOCTYPE html>
<html>
    <head>
        <title>beercrowd</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <nav>
            <a href="/">
                <h1>beercrowd</h1>
            </a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
            <a href="/signup">Signup</a>
        </nav>
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
        {% block content %}{% endblock %}
    </body>
</html>